.teamAggregator {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(194, 194, 194, 1);
    border-radius: 4px;
    margin: 1em;
    max-width: 200px;
    align-items: stretch;
    padding: 2em;
    text-align: start;
    gap: 1em;
    overflow-wrap: break-word;
}